#addMemberForm {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 3rem auto;
  }
  
  #addMemberForm h2 {
    text-align: center;
    text-transform: uppercase;
  }
  
  #addMemberForm .actions {
    display: flex;
    justify-content: center;
  }
  
  #addMemberForm button {
    margin: 0.5rem 1rem;
    width: 40%;
  }